<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <form id="contact-form" method="post" action="/edit/<%= post.id %>?_method=PUT">
    <div class="form-info">
      <label>Название нового дела
        <input type="text" name="title" value="<%= post.title %>">
      </label>
      <label>Автор
        <input type="text" name="author" value="<%= post.author %>">
      </label>
      <label>Дата окончания
        <input type="date" name="endDate" value="<%= post.endDate %>">
      </label>
    </div>
    <div class="form-text">
      <label>Текст
        <textarea name="text"><%= post.text %></textarea>
      </label>
    </div>
    <div class="form-button">
      <input type="submit" value="Сохранить">
    </div>
  </form>
</body>
</html>