<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>Дела:</h1>
  <div class="sort-buttons"  style="text-align: right;">
    <a href="/posts?sort=endDate" class="btn-sort <%= sortBy === 'endDate' ? 'active' : '' %>"><button class="srt-endDate">По дате окончания</button></a>
    <a href="/posts?sort=createdAt" class="btn-sort <%= sortBy === 'createdAt' ? 'active' : '' %>"><button class="srt-createdAt">По дате создания</button></a>
  </div>
     
  <ul>
    <%  function formatDate(dateString) {
      const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
      const formattedDate = new Date(dateString)
      .toLocaleDateString('en-GB', options)
      .replace(/\//g, '.'); 
      return formattedDate;
    }
    
    if (posts.length) { %>
      <% posts.forEach(({ id, title, createdAt, text, author, endDate }) => { %>
        <li>
          <article>
            <h2>
              <a href="/posts/<%= id %>"><%= title %></a>
            </h2>
            <p><%= text %></p>
            <div class="info">
              <span>Дата создания: <%= createdAt.toLocaleDateString() %></span>
              <span>Дата окончания: <%= formatDate(endDate) %></span>
              <span>Автор: <%= author %></span>
            </div>
            <button class="btn-delete" data-id="<%= id %>">
              <i class="fas fa-trash-alt" data-id="<%= id %>"></i>
            </button>
          </article>
        </li>
      <% }) %>
    <% } %>
  </ul>

  <script>
    document.addEventListener('click', (e) => {
      const id = e.target?.dataset?.id || null;
      if (id) {
        fetch(`/posts/${id}`, {
          method: 'DELETE',
        }).then(() =>{
          window.location.reload();
        });
      }
    });
  </script>
  <script src="../controllers/contact-controller.js"></script>
</body>
</html>
