<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <%  function formatDate(dateString) {
    const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
    const formattedDate = new Date(dateString)
    .toLocaleDateString('en-GB', options)
    .replace(/\//g, '.'); 
    return formattedDate;
  } %>
  <article class="post">
    <div class="info">
      <span>Дата создания: <%= post.createdAt.toLocaleDateString() || 'No date' %></span>
      <span>Дата окончания: <%= formatDate(post.endDate) %></span>
      <span>Автор: <%= post.author %></span>
    </div>
    <h1><%= post.title %></h1>
    <p><%= post.text %></p>
    <a href="/edit/<%= post.id %>" class="btn-edit">
      <i class="fas fa-edit"></i>
    </a>
    <button class="btn-delete" data-id="<%= post.id %>">
      <i class="fas fa-trash-alt" data-id="<%= post.id %>"></i>
    </button>
  </article>

  <script>
    document.addEventListener('click', (e) => {
      const id = e.target?.dataset?.id || null;
      if (id) {
        fetch(`/posts/${id}`, {
          method: 'DELETE',
        }).then(() => {
          window.location.href = '/posts';
        });
      }
    });
  </script>
</body>
</html>